
@inject DAL.IDataAccess DataAccess

@code {
    [Parameter]
    public string SelectedCity { get; set; }
}

<tbody style="color: #415A6D">
    @foreach (var item in DataAccess.GetWeatherDataList().Where(m => m.City == SelectedCity))
    {
        string noValue = "-";
        <tr>
            <th scope="row">@item.City</th>
            <td>
                @item.Date.ToLocalTime().ToShortDateString()
            </td>
            <td>
                @item.Date.ToLocalTime().ToShortTimeString()
            </td>

            @if (item.Record.Description != null)
            {
                @if (item.Record.Icon != null)
                {
                    <td>
                        <img style="height:30px" src="https://www.weatherbit.io/static/img/icons/@item.Record.Icon"
                             title="Symbol för @item.Record.Description" alt="Symbol för @item.Record.Description" />
                        @item.Record.Description
                    </td>
                }
                else
                {
                    <td>
                        &nbsp&nbsp&nbsp-&nbsp&nbsp @item.Record.Description
                    </td>
                }
            }
            else
            {
                <td>@noValue</td>
            }
            @*<td>@(item.Record.Description != null ? item.Record.Description : noValue)</td>*@

            <td>@(item.Record.Temperature != null ? Math.Round((double)item.Record.Temperature) : noValue)</td>
            <td>@(item.Record.WindSpeed != null ? Math.Round((double)item.Record.WindSpeed, 1) : noValue)</td>
            <td>@(item.Record.WindDirection != null ? item.Record.WindDirection : noValue)</td>
            <td>@(item.Record.Clouds != null ? item.Record.Clouds : noValue)</td>
            <td>@(item.Record.RelativeHumidity != null ? item.Record.RelativeHumidity : noValue)</td>
            <td>@(item.Record.UvIndex != null ? Math.Round((double)item.Record.UvIndex, 1) : noValue)</td>
        </tr>
    }

    <tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</tbody>

